.toolbar-area{
    background-image: url("/src/images/blog/style7/energy.jpg");
    background-size: cover;
    /* position: fixed;
    width: 100%;
    height: 80px; */
}

.toolsbar>ul>li{
    padding:10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.toolsbar>ul>li>a{
    
    color:white;
}
.toolbar>ul>li>a:hover{
    color: blue;
}

.inner-tools-area{
    width: 90%;
    margin:auto;
}



@media only screen and (max-width: 1200px) {
    .toolbar-area {
      display:none;
    }
  }